# =========================
# Flutter
# =========================
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/

# =========================
# Android build
# =========================
**/*.apk
**/*.aab
**/app/build/
**/app/outputs/

# =========================
# Firebase / Google Secrets
# =========================
**/keys/
**/*firebase-adminsdk*.json
**/*serviceAccount*.json

# =========================
# Node / Vite / React
# =========================
**/node_modules/
**/dist/
**/.env

# =========================
# Laravel / PHP
# =========================
**/vendor/
**/.env
**/storage/*.key

# =========================
# IDE / OS
# =========================
.idea/
.vscode/
.DS_Store
